@model Dictionary<AkiraShop2.Data.ApplicationUser, List<AkiraShop2.Entities.Order>>

@{
    ViewData["Title"] = "Оплаченные заказы";
}

<h1>Оплаченные заказы</h1>

@if (Model.Count == 0)
{
    <div class="item_DIV_error" style="margin-bottom: 40px; background-color:lightgray">
        <h3>Нет оплаченных заказов!</h3>
    </div>
}

@foreach (var dictionary in Model)
{
    <div class="item_DIV_error" style="margin-bottom: 40px; background-color:lightgray">
        <h3>Оплаченные товары пользователя @dictionary.Key.Email</h3>
        <a asp-controller="User" asp-action="Details" asp-route-userId="@dictionary.Key.Id">Подробнее о пользователе</a>

        @for (int i = 0; i < dictionary.Value.Count; i++)
        {
            <div class="item_DIV_error" style="margin-bottom: 20px;">
                @if (dictionary.Value[i].items_with_amounts.Count != 0 && dictionary.Value[i].items_with_amounts != null)
                {

                    <a class="btn buy_button product_buy_button" asp-controller="Order" asp-action="DeliverOrder" asp-route-orderId_formed="@dictionary.Value[i].Id">Отметить заказ доставленным</a>
                
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => dictionary.Value[i].items_with_amounts.First().Key.Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => dictionary.Value[i].items_with_amounts.First().Key.Price)
                                </th>
                                <th>
                                    <p>Количество товара в заказе</p>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var _item in dictionary.Value[i].items_with_amounts.Keys)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => _item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => _item.Price)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => dictionary.Value[i].items_with_amounts[_item])
                                    </td>
                                    <td>
                                        <a asp-controller="Item" asp-action="Details" asp-route-id="@_item.Id">Подробно о данном товаре</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a class="btn del_button" asp-controller="Order" asp-action="Delete" asp-route-orderId_formed="@dictionary.Value[i].Id">Удалить заказ</a>
                }
                else
                {

                    <h4>Нет товаров в списке!</h4>

                }
                @if (dictionary.Value[i].AdditionalInfo != null)
                {
                    <h4>Дополнительная информация:</h4>
                    <hr class="soled" />
                    <p>@dictionary.Value[i].AdditionalInfo</p>
                }
            </div>
        }


    </div>
}