@model AkiraShop2.Entities.Item

@{
    ViewData["Title"] = "Подробно товар: "+Model.Title;
}

<h1>Подробно товар: @Model.Title</h1>
<p>
    <a asp-controller="Item" asp-action="Index" asp-route-categoryId="@Model.CategoryId">Вернуться к товарам категории</a> |
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CharactObjectEXACT)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Title)
            </td>
            <td>

                @Html.DisplayFor(modelItem => modelItem.Description)
            </td>
            <td>
                <img src="~/uploads/Item/@Model.Image" width="150" height="150" alt="Image not found ;(" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Amount)
            </td>


            <td>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CharactObjectEXACT[0].charactItemName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CharactObjectEXACT[0].charactItemValue)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var _item in Model.CharactObjectEXACT)
                        {
                            <tr>
                                <td>
                                    @_item.charactItemName
                                </td>
                                <td>
                                    @_item.charactItemValue
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
                <a asp-action="Delete" asp-route-id="@Model.Id">Удалить</a>
            </td>
        </tr>
        
    </tbody>
</table>
