@model Dictionary<string, List<AkiraShop2.Entities.Order>>

@{
    ViewData["Title"] = "Заказы";
}

<div class="row">
    @foreach (var dictionary in Model)
    {
        @if (dictionary.Key == "formed")
        {
            <div class="col-8 item_list">

                <h3>Оплаченные заказы:</h3>

                @if (dictionary.Value.Count != 0)
                {
                    @for (int i = 0; i < dictionary.Value.Count; i++)
                    {
                        <div class="item_DIV_error" style="text-align:start;margin-bottom: 20px;">
                            <p><b>Заказ №@dictionary.Value[i].Id</b></p>

                            @foreach (var item in dictionary.Value[i].items_with_amounts)
                            {
                                <div onclick="location.href = '/Shop/Product/@item.Key.Id';" style="cursor: pointer;">
                                    <div class="row" style="display:flex;">
                                        <div class="col-7">
                                            <p>@item.Key.Title</p>
                                        </div>
                                        <div class="col-3">
                                            <p>Количество: @item.Value</p>
                                        </div>
                                        <div class="col-2">
                                            <p>@item.Key.Price ₽</p>
                                        </div>
                                    </div>
                                </div>
                                <hr class="solid" />
                            }

                            <div>
                                <div class="row" style="display: flex;">
                                    <div class="col-7">
                                        <a class="btn buy_button" asp-area="Shop" asp-controller="Orders" asp-action="Details" asp-route-orderId="@dictionary.Value[i].Id">Подробнее о заказе</a>
                                    </div>
                                    <div class="col-3">
                                        <p>Сумма заказа:</p>
                                    </div>
                                    <div class="col-2">
                                        <p><b>@dictionary.Value[i].TotalPrice ₽</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="item_DIV_error" style="margin-bottom: 20px;">
                        <h4>Нет товаров в списке!</h4>
                    </div>
                }

            </div>
        }



        @if (dictionary.Key == "delivered")
        {
            <div class="col-4 item_list">

                <h3>Доставленные заказы:</h3>
                @if (dictionary.Value.Count != 0)
                {
                    @for (int i = 0; i < dictionary.Value.Count; i++)
                    {
                        <div class="item_DIV_error" style="opacity: 0.5;text-align:start;margin-bottom: 20px;">
                            <p><b>Заказ №@dictionary.Value[i].Id</b></p>
                            <div class="row" style="display: flex;">
                                <div class="col-6">
                                    <p>Сумма заказа:</p>
                                </div>
                                <div class="col-6">
                                    <p><b>@dictionary.Value[i].TotalPrice ₽</b></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <a class="btn buy_button" asp-area="Shop" asp-controller="Orders" asp-action="Details" asp-route-orderId="@dictionary.Value[i].Id">Подробнее о заказе</a>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {

                    <div class="item_DIV_error" style="margin-bottom: 20px;">
                        <h4>Нет товаров в списке!</h4>
                    </div>

                }

            </div>
        }
    }
</div>
