@model IEnumerable<AkiraShop2.Data.ApplicationUser>

@{
    ViewData["Title"] = "Пользователи";
}

<h1>Пользователи</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Address)
                </td>
                <td>
                    <!-- <a asp-action="Edit" asp-route-id="@user.Id">Изменить</a> |-->
                    <!--<a asp-action="Details" asp-route-id="@user.Id">Details</a> |-->
                    <!--<a asp-action="Delete" asp-route-id="@user.Id">Удалить</a> |-->
                    <a asp-controller="User" asp-action="Details" asp-route-userId="@user.Id">Подробнее о пользователе</a> |
                    <a asp-area="Admin" asp-controller="Order" asp-action="Index" asp-route-userId="@user.Id">Заказы данного пользователя</a>
                </td>
            </tr>
        }
    </tbody>
</table>
