@model IEnumerable<AkiraShop2.Entities.Category>

@{
    ViewData["Title"] = "Категории";
}

<h1>Категории</h1>

<p>
    <a asp-action="Create">Добавить новую категорию</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>

            <td>
                <img src="~/uploads/Category/@item.Image" width="100" height="100" alt="Image not found ;(" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>|
                <a asp-area="Admin" asp-controller="Item" asp-action="Index" asp-route-categoryId="@item.Id">Товары данной категории</a>
            </td>
        </tr>
}
    </tbody>
</table>
