
@model IEnumerable<AkiraShop2.Entities.Order>
@{
    ViewData["Title"] = "Корзина";
}

<h1>Корзина</h1>

<div class="item_list">
    
    @foreach (var model1 in Model)
    {
        <div class="col-10">

            @foreach (var item in model1.ItemsForOrder)
            {
                <div class="item_DIV">

                    <div class="item_image">
                        <img src="~/uploads/Item/@item.Image" alt="Image not found ;(" />
                    </div>
                    <div class="item_title">
                        <h3>@item.Title</h3>
                    </div>
                    <div class="item_desc">
                        <p>@item.Description</p>
                    </div>
                    <div class="item_price">
                        <h3>@item.Price ₽</h3>
                    </div>
                    <div class="item_buy">
                        <a class="btn del_button" asp-action="DeleteItem" asp-route-itemId="@item.Id">Удалить</a>
                    </div>
                </div>

            }
        </div>
        <div>
            @if (model1.OrderItems.Count != 0)
            {
                <a asp-action="CreateOrder" asp-route-orderId="@model1.Id">Оформить заказ</a>
            }

        </div>
    }

</div>



@section Scripts{

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_AuthScriptsPartial");
    }
}