

<div class="row justify-content-center">

    <div class="aside col-4 rounded">


        @{

            foreach (var cat in Model.AllCat)
            {
                <div>
                    @cat.categoryName
                </div>
            }

        }


    </div>

    <div class="main col-7 rounded">

        @{
            foreach (var item in Model.AllItems)
            {
                //if (Model.currCategory == item.Category.categoryName)
                //{
                

                    <div class="items row justify-content-center">
                        <button>
                            <div class="col-4">
                                <img class="IMG_ITEM rounded float-left" src="~/uploads/@item.img" alt="@item.itemName" />
                            </div>
                            <div class="ITEM_INFO col-6">
                                <p> @item.itemName </p>
                                <p> @item.Desc </p>

                            </div>
                            <div class="ITEM_BUY col-2">
                                <p> @item.price ₽</p>
                                <button class="button">Купить</button>
                            </div>
                        </button>
                        
                    </div>
                //}
            }
        }

    </div>
</div>





